<%= form_for(hotel) do |f| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.number_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div> -->




<section id="add">
    <div class="add__box">
      <form action="#">
        <%= f.text_field :title, placeholder: "Titre", required: true %>
        <%= f.text_area :description, placeholder: "Description", required: true %>
        <div class="add__box-end">
          <div class="add__box-rating">
            <h3>Note</h3>
            <%= f.number_field :note, min: 1, max: 5 %>
            <!-- <fieldset class="rating">
              <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5"></label>
              <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4"></label>
              <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3"></label>
              <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2"></label>
              <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1"></label>
            </fieldset> -->
          </div>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </section>


  <% end %>
